<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <title>눈돌이를 구하라!</title>
</head>
<body>
    <form action="./final_password" method="post">
        <label for="final_password">최종 비밀번호: </label><br>
        <input type="text" id="final_password" name="final_password"><br>
        <input type="submit" value="전송">
    </form>
    <p>진행 상황</p>
    <p><%=team1.name%> 미션1: <%=team1.success[0]%> 미션2: <%=team1.success[1]%> 미션3: <%=team1.success[2]%></p>
    <p><%=team2.name%> 미션1: <%=team2.success[0]%> 미션2: <%=team2.success[1]%> 미션3: <%=team2.success[2]%></p>
    <p><%=team3.name%> 미션1: <%=team3.success[0]%> 미션2: <%=team3.success[1]%> 미션3: <%=team3.success[2]%></p>
</body>
</html>