<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p style="font-size: 60px; color: blue">진행 상황</p>
    <p style="font-size: 30px; color: blue;"><%=team1.name%> 미션1: <%=team1.success[0]%> 미션2: <%=team1.success[1]%> 미션3: <%=team1.success[2]%></p>
    <p style="font-size: 30px; color: blue;"><%=team2.name%> 미션1: <%=team2.success[0]%> 미션2: <%=team2.success[1]%> 미션3: <%=team2.success[2]%></p>
    <p style="font-size: 30px; color: blue;"><%=team3.name%> 미션1: <%=team3.success[0]%> 미션2: <%=team3.success[1]%> 미션3: <%=team3.success[2]%></p>
</body>
</html>